<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="generator" content="pandoc">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
$for(author-meta)$
  <meta name="author" content="$author-meta$" />
$endfor$
$if(date-meta)$
  <meta name="dcterms.date" content="$date-meta$" />
$endif$
$if(keywords)$
  <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
$endif$
  <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400&display=swap" rel="stylesheet">
  <style>
    body { font-family: 'Merriweather', serif; margin: 2em; }
    dt { font-weight: bold; }
    h1#bibliography + dl > dt { float: left; clear: left; width: 6em; }
    h1#bibliography + dl > dd { margin: 0; margin-left: 6.5em; }
    ul > li > p:first-child { margin-top: 0; }
    ul > li > p:last-child { margin-bottom: 0; }
    figure { text-align: center; }
    figcaption { text-align: left; }
  </style>
$for(css)$
  <link rel="stylesheet" href="$css$">
$endfor$
$if(math)$
  $math$
$endif$
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body>
$for(include-before)$
$include-before$
$endfor$
$body$
$for(include-after)$
$include-after$
$endfor$
</body>
</html>
